body {
    background-color: white; 
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
    line-height: 1.5;
}

#container {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}


header {
    color: white;
    background-image: url("../Assets/Image/banner1.png") ;
    background-size: cover; 
    background-position: center;
    font-size: cover;
}

.featured-img {
    width: 125px;
    height: 125px;
    border: solid 2px white;
    border-radius: 50%;
    margin-bottom: 10px;
}

.languageImg {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    object-fit: fill;
}

.skils-imgs {
    margin-bottom: 10px;
}

#main-title {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header span {
    font-size: 18px;
}

header,footer {
    text-align: center;
}

main {
    padding: 30px;
}

p {
    color: slategray;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 18px;
}

header #profile {
    padding-top: 30px;
}

header #subtitle {
    margin: 0;
    margin-top: 10px; 
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff4ed8e;
}

h2 {
    padding-bottom: 5px;
    border-bottom: dotted 1px slategray;
}

.image-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
  
.image-container {
    position: relative;
    width: 300%;
    overflow: hidden;
    text-align: center;
}
  
.image {
    width: 50%;
    transition: transform 0.3s ease; 
    cursor: pointer;
    border: solid 1px #836d56;
    border-radius: 5%;
}
  
.overlay-text {
    opacity: 0;
    font-size: 16px;
    color: #333;
    transition: opacity 0.4s ease;
}

.image-container:hover .image {
    transform: scale(.8) translateY(-10px); 
}
  
.image-container:hover .overlay-text {
    transform: 0.3s ease;
    opacity: 1;
}

ul {
    padding: 0;
    margin-left: 20px;
    column-count: 2;
    column-gap: 20px;
}

ul li {
    margin-bottom: 15px;
}

body #samples {
    column-count: 1;

}

footer {
    background-color: #2f2713;
    padding: 15px 0;
}

a {
    text-decoration: none;
}

.social-list {
    column-count: 1;
}

.social-list li {
    display: inline;
    margin-right: 20px;
}

.social-list li i {
    margin-right: 5px;
}

.social-list a:hover {
    color: #836d56;
} 

body h3 {
    color: rgb(87, 59, 0);
    padding-left: 10px;
}
body .careerUl {
    padding-left: 15px;
}

footer h3 {
    color: white;
    font-weight: bold;
}

footer a {
    color: white;
    font-weight: bold;
}

footer a,footer p {
    color: #bfc0d8
}

.email-icon {
    font-size: 20px; 
}

.github-icon {
    font-size: 20px;
}

.linkedin-icon {
    font-size: 20px;
}


@media (max-width: 767px) {
    header {
        position: sticky;
    }
    .overlay-text {
        font-size: .9rem;
    }
    .email-icon {
        font-size: 3vw; 
    }
    
    .github-icon {
        font-size: 3vw;
    }
    
    .linkedin-icon {
        font-size: 3vw;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.75rem; /* 60px */
    }

    h2 {
        font-size: 1.75rem; /* 28px */
    }

    h3 {
        font-size: 1.5rem; /* 24px */
    }

    p {
        font-size: 1.125rem; /* 18px */
    }
   
}